{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4>Crear Nueva Idea</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">  <!-- Cambiado a col-12 para ocupar todo el ancho -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registrar Idea</h4>
                <p class="card-title-desc">Ingrese la información para la nueva idea</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary float-right">Guardar Idea</button>
                            <a href="#" class="btn btn-light">Regresar</a>
                        </div>
                    </div>
                </form>

                <!-- Initialize the datepicker directly in the content block -->
                <!-- <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
                <script>
                    $(function(){
                        // Initialize the datepicker for the created_at field
                        $("#id_created_at").datepicker({
                            autoclose: true,
                            format: 'dd/mm/yyyy',  // Define the format you want here
                            todayHighlight: true,
                            orientation: "bottom left"
                        }) // Make the input field readonly to prevent manual typing
                    }); -->
                </script>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
{% endblock content %}
